<!DOCTYPE html>
<html lang="en" ng-app="stockQuote" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Halverson</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- build:include bootstrap_min_css_up.html -->
    <link href="../bower_components/bootswatch-dist/css/bootstrap.css" rel="stylesheet">

    <!-- /build -->
    <link href="../css/jumbotron.css" rel="stylesheet">
</head>
<body role="document">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">Halverson Web</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="../contact.html">Contact</a></li>
                <li class="active"><a
                        href="../resume/resume.html">Resume</a></li>
                <li class="active"><a href="../apps.html">Apps</a></li>
                <li class="active"><a href="../wedding.html">Wedding</a></li>
                <li class="active"><a href="../cars.html">Auto</a></li>
                <li class="active"><a href="../Blogs/blogs.html">Blogs</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main" ng-controller="stockQuoteController">
    <p>Enter Stock to Retrieve
        <input type="text" name="stock" ng-model="stockInput"><input type="button" value="Go!" ng-click="submit()">
    </p>

    <p>Stock List:</p>

    <div class="row" ng-repeat="i in stocks track by $index" ng-if="$index % 4 == 0">
        <div class="col-sm-3" ng-repeat="stock in [$index, $index + 1, $index + 2, $index +3]"
             ng-if="stocks[stock]">
            <div ng-if="stocks[stock].Status === 'SUCCESS'">
                <strong>Symbol: {{stocks[stock].Symbol}}</strong><br>
                Name: {{stocks[stock].Name}}<br>
                Last Price: {{stocks[stock].LastPrice}}<br>
                Time: {{stocks[stock].Timestamp}}<br>
                Market Cap: {{stocks[stock].MarketCap}}<br>
                Change YTD: {{stocks[stock].ChangeYTD}}<br>
                High: {{stocks[stock].High}}<br>
                Low: {{stocks[stock].Low}}<br>
                Open: {{stocks[stock].Open}}
            </div>
            <div ng-if="stocks[stock].Status !== 'SUCCESS'">
                <strong>Message: {{stocks[stock].Message}}</strong>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; dmhweb.org {{year}}</p>
    </footer>
</div>

<!-- build:include angular_bootstrap_jquery_minjs_up.html -->
<script src="../bower_components/jQuery/dist/jquery.js"></script>
<script src="../bower_components/bootswatch-dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<!-- /build -->
<!-- build:js ../js/stock-quote.min.js -->
<script src="../js/stock-quote.js"></script>
<!-- /build -->
</body>
</html>
