<!DOCTYPE html>
<html ng-app="photoGallery" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Halverson</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- build:include bootstrap_min_css_up.html -->
    <link href="../bower_components/bootswatch-dist/css/bootstrap.css" rel="stylesheet">
    <!-- /build -->
    <link href="../css/jumbotron.css" rel="stylesheet">
    <link href="../css/gallery.css" rel="stylesheet">
</head>

<body>
<div id="navBarDirectory" ng-include="'../templates/navBarDirectory.html'"></div>

<div class="container theme-showcase" ng-controller="photoGalleryController" data-perpage="6" data-totalphotos="6"
     data-fileprefix="./hondaPhotos/photo" data-filesuffix=".jpg">
    <h2>1997 Honda Shadow 750 ACE</h2>

    <p>In August 2007, I bought this Honda Shadow. The bike came with
        the saddle bags, custom forward controls, and windshield. It was a
        pretty good find for the price. I didn't love the single-front disc
        and rear drum brake, but otherwise it was a solid bike.
        Unfortunately, I lost the bike to an accident on I294 on the way to
        Harley's 105th Anniversary Celebration in 2008.</p>

    <script type="text/ng-template" id="pictureModal.html">
        <div class="modal-body">
            <img ng-src="{{modalPhoto}}" class="img-responsive"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary previous" type="button" ng-hide="hidePrevious" ng-click="prev()">&laquo;
                prev
            </button>
            <button class="btn btn-primary next" type="button" ng-hide="hideNext" ng-click="next()">
                next &raquo;</button>
        </div>
    </script>
    <div id="tpl-content" ng-include="'../templates/generateGallery.html'"></div>
    <div id="pageFooter" ng-include="'../templates/footer.html'"></div>
</div>

<!-- build:include angular_bootstrap_jquery_minjs_up.html -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootswatch-dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- /build -->
<!-- build:js ../js/gallery_ang.min.js -->
<script src="../js/gallery_ang.js"></script>
<!-- /build -->
</body>
</html>
