<!DOCTYPE html>
<html ng-app="rpslsApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Halverson</title>
    <link rel="icon" href="../images/favicon.ico">
    <!-- build:include bootstrap_min_css_up.html -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <!-- /build -->
    <link href="../css/jumbotron.css" rel="stylesheet">
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">Halverson Web</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="../contact.html">Contact</a></li>
                <li class="active"><a
                        href="../resume/resume.html">Resume</a></li>
                <li class="active"><a href="../apps.html">Apps</a></li>
                <li class="active"><a href="../wedding.html">Wedding</a></li>
                <li class="active"><a href="../cars.html">Auto</a></li>
                <li class="active"><a href="../Blogs/blogs.html">Blogs</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main" ng-controller="rpslsController">
    <h2>Rock, Paper, Scissors, Lizard, Spock</h2>

    <p>Play the popular game with your computer! In this version,
        you'll be playing with Lizard and Spock too.</p>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 btn-group img-responsive"
             role="group" id="human">
            <p>Your Pick</p>

            <button id="rock" ng-click="human('rock')" type="button" class="btn btn-default"
                    ng-class="{'btn-success' : rock}">
                <img src="../images/rock.jpg"/>
            </button>
            <button id="paper" ng-click="human('paper')" type="button" class="btn btn-default"
                    ng-class="{'btn-success' : paper}">
                <img src="../images/paper.jpg"/>
            </button>
            <button id="scissors" ng-click="human('scissors')" type="button" class="btn btn-default"
                    ng-class="{'btn-success' : scissors}">
                <img src="../images/scissors.jpg"/>
            </button>
            <button id="lizard" ng-click="human('lizard')" type="button" class="btn btn-default"
                    ng-class="{'btn-success' : lizard}">
                <img src="../images/lizard.jpg"/>
            </button>
            <button id="spock" ng-click="human('spock')" type="button" class="btn btn-default"
                    ng-class="{'btn-success' : spock}">
                <img src="../images/spock.jpg"/>
            </button>
        </div>
        <div class="col-xs-6 col-md-4">
            <p>Who wins?</p>

            <div id="alert_placeholder">
                <div class="alert alert-success" role="alert" ng-show="gameSuccess"><b>{{winner}}</b><br/>{{explanation}}
                </div>
                <div class="alert alert-warning" role="alert" ng-show="gameDraw"><b>{{winner}}</b><br/>{{explanation}}
                </div>
                <div class="alert alert-danger" role="alert" ng-show="gameLose"><b>{{winner}}</b><br/>{{explanation}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 btn-group img-responsive"
             role="group" id="computer">
            <p>Computer's Pick</p>
            <button id="Rock2" type="button" class="btn btn-default" ng-class="{'btn-danger' : rock2}" disabled>
                <img src="../images/rock.jpg"/>
            </button>
            <button id="Paper2" type="button" class="btn btn-default" ng-class="{'btn-danger' : paper2}" disabled>
                <img src="../images/paper.jpg"/>
            </button>
            <button id="Scissors2" type="button" class="btn btn-default" ng-class="{'btn-danger' : scissors2}"
                    disabled>
                <img src="../images/scissors.jpg"/>
            </button>
            <button id="Lizard2" type="button" class="btn btn-default" ng-class="{'btn-danger' : lizard2}" disabled>
                <img src="../images/lizard.jpg"/>
            </button>
            <button id="Spock2" type="button" class="btn btn-default" ng-class="{'btn-danger' : spock2}" disabled>
                <img src="../images/spock.jpg"/>
            </button>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; dmhweb.org 2014</p>
    </footer>
</div>
<!-- /container -->
<!-- build:include angular_bootstrap_jquery_minjs_up.html -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<!-- /build -->
<!-- build:js ../js/rpsls.min.js -->
<script src="../js/rpsls.js"></script>
<!-- /build -->
</body>
</html>
